.animated-wave-gradient {
    background: linear-gradient(120deg, #111827, #6b21a8, #000000, #1f2937);
    background-size: 200% 200%;
    animation: waveGradient 10s ease-in-out infinite;
  }
  
  @keyframes waveGradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 75%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 25%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  